/*========================================================================================================================
==========================================================================================================================
  ___ ___  _  _ _____ ___ 
 | __/ _ \| \| |_   _/ __|
 | _| (_) | .` | | | \__ \
 |_| \___/|_|\_| |_| |___/
--------------------------------------------*/


/*========================================================================================================================
==========================================================================================================================
  ___  ___  _____   __
 | _ )/ _ \|   \ \ / /
 | _ \ (_) | |) \ V / 
 |___/\___/|___/ |_|  
--------------------------------------------*/
body {
	
}

/*========================================================================================================================
==========================================================================================================================
  ___  _   ___    _   _    _      _   __  __
 | _ \/_\ | _ \  /_\ | |  | |    /_\  \ \/ /
 |  _/ _ \|   / / _ \| |__| |__ / _ \  >  < 
 |_|/_/ \_\_|_\/_/ \_\____|____/_/ \_\/_/\_\
--------------------------------------------*/


/*========================================================================================================================
==========================================================================================================================
  ___ ___ _    ___ _____ ___ 
 / __| _ \ |  |_ _|_   _/ __|
 \__ \  _/ |__ | |  | | \__ \
 |___/_| |____|___| |_| |___/
--------------------------------------------*/


/*========================================================================================================================
==========================================================================================================================
  _  _ ___   _   ___  ___ ___ 
 | || | __| /_\ |   \| __| _ \
 | __ | _| / _ \| |) | _||   /
 |_||_|___/_/ \_\___/|___|_|_\
--------------------------------------------*/
header {
	
}

#wozo {
	
}

#sign {
	
}

/*========================================================================================================================
==========================================================================================================================
  _  _   ___   __
 | \| | /_\ \ / /
 | .` |/ _ \ V / 
 |_|\_/_/ \_\_/  
--------------------------------------------*/
nav {
	display: block;
	position: sticky;
	top: -155px;
	z-index: 1;

	height: 303px;
	width: 90%;
	max-width: 700px;

	margin: -200px auto auto auto;
	padding: 0px;

	background-image: url("../images/tableMiddle.png");
	background-repeat: repeat; 
	background-size: 160px 303px;
}

/* Nav button ================================================================*/
nav a {
	display: block;
	float: left;
	position: relative;

	width: 25%;

	padding-top: 14px;

	align-content: center;
	cursor: pointer;
	user-select: none;

	background-image: url("../images/navShadow.png");
	background-size: 150px 150px;
	background-position: center 15px;
	background-repeat: no-repeat;

	/*box-shadow: inset 0px 0px 3px #000;*/
}

/* Glow ================================================================*/
nav a::before {
	z-index: 0;
	position: relative;
	content:"";
	background-image: url("../images/glowCircle.png");
	background-size: 150px 150px;
	opacity: 0;
	display:block;
	width: 150px;
	height: 150px;
	margin: auto auto -150px auto;
	transition-duration: 0.3s;
}
	nav a:hover::before {
		opacity: 1;
		transition-duration: 0.3s;
	}
	nav a:active::before {
	}

/* Image ================================================================*/
nav a img {
	position: relative;
	z-index: 1;
	width: 150px;
	max-height: 150px;
	top: 0px;

	margin: auto auto auto calc(50% - 75px);

	transition-duration: 0.3s;
}
	nav a:hover img {
		top: -10px;
		background-position: center 10px;
		transition-duration: 0.3s;
	}
	nav a:active img {
		top: 0px;
		background-position: center 0px;
	}

/* Text ================================================================*/
nav a h2 {
	font-family: "Black Chancery";
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #CBCBCB;
	text-shadow: 0px 2px 0px #333333, 0px -1px 0px #ffffff, 0px 4px 4px #000000;
	transition-duration: 0.3s;
	padding: 0px;
	margin: 15px auto auto auto;
	border-radius: 30px;
	background-position: center;
	left: auto;
	position: relative;
	/*box-shadow: 0px 0px 15px 0px rgba(209,82,255,0.4), inset 0px 0px 15px 0px rgba(0,0,0,0.6);*/
}
	nav a:hover h2 {
		color: #FFC886;
		text-shadow: 0px 0px 10px #C86C00;
		background-color: rgba(77, 40, 0, 0.5);
		box-shadow: 0px 0px 30px 0px #ff941a, inset 0px 0px 15px 0px #b35f00;
		background-image: url("../images/starsOrange.png");
		background-size: 68px 68px;
	}
	nav a:active h2 {
		color: white;
		background-size: 60px 60px;
	}

/*========================================================================================================================
==========================================================================================================================
  __  __   _   ___ _  _ 
 |  \/  | /_\ |_ _| \| |
 | |\/| |/ _ \ | || .` |
 |_|  |_/_/ \_\___|_|\_|
--------------------------------------------*/
main {
	width: 85%;
	max-width: 720px;
}

/* Border images ================================================================*/


/* Horizontal splitter ================================================================*/
hr {
	
}
	hr::after { /*Image*/
		
	}

/*========================================================================================================================
==========================================================================================================================
  ___ ___   _   ___  ___ _  _ 
 / __| __| /_\ | _ \/ __| || |
 \__ \ _| / _ \|   / (__| __ |
 |___/___/_/ \_\_|_\\___|_||_|
--------------------------------------------*/
/* Search div ================================================================*/
#search {
	
}

/* Form inside div ============================================================*/
#search form {
	
}
	#search form:hover {
		
	}
	#search form:has(> #query:focus) { /*When the text box is focused*/
		
	}
	#search form:has(> #submit:hover) { /*When the magnifying glass button is hovered*/
		
	}

/* Query text box ============================================================*/
#search #query {
	
}
	#search #query:focus { /*When focused*/
		
	}

/* Magnifying glass submit button ============================================*/
#search #submit {
	
}
	#search #submit:hover {
		
	}
	#search #submit:active {
		
	}

/* Clear button ==============================================================*/
#search #clear {
	
}
	#search form:has(> #query[value="a"]) #clear { /*When the query text box is not empty, show the clear button more*/
		
	}
	#search #clear:hover { /*On hover*/
		
	}
	#search #clear:active { /*On click*/
		
	}

/*========================================================================================================================
==========================================================================================================================
  _____ _____  _______ 
 |_   _| __\ \/ /_   _|
   | | | _| >  <  | |  
   |_| |___/_/\_\ |_|  
--------------------------------------------*/

/* Headings ==============================================================*/
h1 {
	
}
	h1::before { /*Decoration*/
		
	}
	h1::after { /*Decoration*/
		
	}

h2 {
	
}

h3 {
	
}

h4 {
	
}

/* Body text ==============================================================*/
p {
	
}

/*========================================================================================================================
==========================================================================================================================
   ___ ___  _  _ _____ ___ _  _ _____ 
  / __/ _ \| \| |_   _| __| \| |_   _|
 | (_| (_) | .` | | | | _|| .` | | |  
  \___\___/|_|\_| |_| |___|_|\_| |_|  
--------------------------------------------*/
main img {
	
}

section {
	
}

details {

}

summary {

}

/* Section link ==============================================================*/
.sectionLink {
	width: 90%;
}
	.sectionLink::after { /*Clear float*/
		
	}
	.sectionLink:hover {
		
	}
	.sectionLink:active {
		
	}

.sectionLink img { /*Image*/
	height: 180px;
	margin: -50px 0px -50px 0px;
}
	.sectionLink:hover img { /*Raise up on hover*/
		margin-top: -60px;
	}
	.sectionLink:active img { /*Go back down on click*/
		margin-top: -50px;
	}

.sectionLink h1 { /*Text*/
	font-size: 50px;
	margin: 10px 0px 0px 0px;
}
	.sectionLink:hover h1 {
		
	}
	.sectionLink h1::before, .sectionLink h1::after {
		
	}
	.sectionLink:hover h1::before, .sectionLink:hover h1::after { /*Change text decoration on hover*/
		
	}
	.sectionLink:active h1 {
		
	}

/* Item ==============================================================*/
.item {
	
}
	.item:hover {
		
	}
	.item:active {
		
	}

.item img {

}

.item h2 {
	
}

/*========================================================================================================================
==========================================================================================================================
  ___ ___   ___ _____ ___ ___ 
 | __/ _ \ / _ \_   _| __| _ \
 | _| (_) | (_) || | | _||   /
 |_| \___/ \___/ |_| |___|_|_\
--------------------------------------------*/
footer {
	
}

footer #footerWrapper { /*Wrapper*/
	
}

footer #stamp { /*Stamp image*/
	
}

footer p { /*Text*/
	
}